

<script type="text/ng-template" id="modalContent.html">
    <h3 style="text-align:center">this is a modal</h3>

    <ul>
        <li>Do you know what this is?</li>
        <li>Does this thing work?</li>
    </ul>
    
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
    </div>
    
    <div class="modal-body" id="modal-body">
        <ul>
            <li ng-repeat="item in buttonCtrl.items">
                <a href="#" ng-click="$event.preventDefault(); buttonCtrl.selected.item = item">{{ item }}</a>
            </li>
        </ul>
    
    Selected: <b>{{ buttonCtrl.selected.item }}</b>
    </div>
    
    <div class="modal-footer">
        <button class="modalPopUp" type="button" ng-click="$close()">OK</button>
        <button class="modalPopUp" type="button" ng-click="$close()">Cancel</button>
    </div>
    

</script>