
<!DOCTYPE html>
<html lang="en-us" ng-app="calcApp" class="full-height">
<head>
    <title>Hello World</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/Tom-s-Journal/">
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    
    <link rel="stylesheet" href="calculatorCSS.css">

    
</head>


<body class="full-height overflow-hidden" ng-cloak>



    <div class="theCalculator" ng-controller="calcCtrl" id="outsideCalcEdge">

        <div class="calcAnswerRow" id="1stLine">
            <span>{{leftOperand}}</span> 
            <span>{{operator}}</span> 
            <span>{{rightOperand}}</span>
            <span>{{decimal}}</span> 
            <span>{{clear}}</span>
        </div>


        <div class="flex-container theButtons">
            <div class="calcInfo" id="brand">
                <span id="calcBrand">*Basic Calculator*</span><br>
                <span title="Best Company On Earth" id="kogoSoftwareLLC">Kogo Software LLC</span>
                <button title="Press to Clear" id="clear" ng-click="setClear('C')">C</button>
            </div>
            <div class="calcButtonsrow" id="2ndLine">
                <button class="number" id="7" ng-click="setOperand('7')">7</button>
                <button class="number" id="8" ng-click="setOperand('8')">8</button>
                <button class="number" id="9" ng-click="setOperand('9')">9</button>
                <button class=" operator" id="divideBySign" ng-click="setOperator('/')">/</button>
            </div>
            <div class="calcButtonsrow" id="3rdLine">
                <button class="number" id="4" ng-click="setOperand('4')">4</button>
                <button class="number" id="5" ng-click="setOperand('5')">5</button>
                <button class="number" id="6" ng-click="setOperand('6')">6</button>
                <button class="operator" id="multiplySign" ng-click="setOperator('*')">*</button>
            </div>
            <div class="calcButtonsrow" id="4thLine">
                <button class="number" id="1" ng-click="setOperand('1')">1</button>
                <button class="number" id="2" ng-click="setOperand('2')">2</button>
                <button class="number" id="3" ng-click="setOperand('3')">3</button>
                <button class=" operator" id="minusSign" ng-click="setOperator('-')">-</button>

            </div>
            <div class="calcButtonsrow" id="5thLine">
                <button id="decimal" ng-click="setDecimal('.')">.</button>
                <button class="number" id="0" ng-click="setOperand('0')">0</button>
                <button id="equalSign" ng-click="getAnswer('=')" 
                ng-disabled="!leftOperand && !operator || !rightOperand">=</button>
                <button class=" operator" id="plusSign" ng-click="setOperator('+')">+</button>
            </div>
        </div>
    </div>
    
    <script 
    src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
</script>

<script src="calculator.js"></script>

</body>
</html>
