@font-face {
    font-family: 'sickCalculatorFont';
    src: url('./calcFontFiles/digital-7.ttf');
}




[disabled] {
    color: gray !important;
    the id of #equalSign takes precedence over [disabled], !important over rides that
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex: 1;
}






button {
    display: flex;
    flex: 1;
    justify-content: center;
}

.calcAnswerRow {
    background-color: lightgray;
    border-width: 5px;
    border-color: darkgray;
    border-style: inset;
    font-family: 'sickCalculatorFont';
    font-weight: bold;
}

#calcBrand {
    font-style: italic;
}

.calcButtons {
    display: flex;
    flex: 3;
    background-color: red;
    flex-direction: column;
}

.calcButtonsrow {
    display: flex;
    flex-direction: : row;
    flex: 1;
    justify-content: center;
}

.calcInfo {
    display: flex;
    background-color: lightblue;
    flex-direction: column;
    flex: 1;
    text-align: center;
    font-weight: bold;
}


#clear {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: row;
}

#clear:hover {
    background-color: #DF95AF;
}

#decimal:hover {
    background-color: darkgray;  /*#FF5644*/
    font-weight: bold;
}

#equalSign {
    color: #FA6800;
    font-weight: bold;
}

#kogoSoftwareLLC {
    display: flex;
    flex: 1;
}

.number:hover {
    background-color: darkgray;  /*#FF5644*/
    font-weight: bold;
}


.operator {
    background-color: #0E2F5C;
    color: white;
}
.operator:hover {
    background-color: lightblue;
}

.theCalculator {
    display: flex;
    flex: 1;
    background-color: blue;
    flex-direction: column;
}

.answers {

    font-size: 50px;
}