<!DOCTYPE html>

<html lang="en-us" ng-app="myApp" class="full-height">

<head>
    <title>Hello World</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/Tom-s-Journal/">

    <link rel="stylesheet" 
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   
    
    
    <style>
        .full-height {
            height: 100%;
        }
        #col1 {
            background-color: red;
        }
        #col2 {
            background-color: green;
        }
        #col3 {
            background-color: black;
            }
        #col4 {
            background-color: blue;
        }
    </style>
</head>


<body class="full-height">

    <h1>Hello World</h1>
    
    <ui-view></ui-view>
    
    <div class="container full-height">
    <div class="row full-height">
        <div id="col1" class="col-md-3 full-height">col1</div>
        <div id="col2" class="col-md-3 full-height">col2</div>
        <div id="col3" class="col-md-3 full-height">col3</div>
        <div id="col4" class="col-md-3 full-height">col4</div>
    </div>

    <ul>
        <li><a ui-sref="profile">Profile</a></li>
        <li><a ui-sref="editEntry">Edit Entry</a></li>
        <li><a ui-sref="entryList">Entry List</a></li>
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="labels">Labels</a></li>
    </ul>   
        
        
    <input ng-model="textInput">
    <span>{{textInput}}</span>
    
    
                <!-- BUTTON -->
    <div>
    <button type="button" class="btn btn-default" ng-click="buttonCtrl.open()">Click for Modal</button>
    </div>
                
                
                <!-- modal enabled from button -->
    <div ng-controller="buttonCtrl" class="modalPopUp">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <ul>
                <li ng-repeat="item in buttonCtrl.items">
                    <a href="#" ng-click="$event.preventDefault(); buttonCtrl.selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ buttonCtrl.selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="buttonCtrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="buttonCtrl.cancel()">Cancel</button>
        </div>
    </script>
    
    
    

    
                <!-- angular link -->
    <script 
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
    </script>

                <!-- ui router link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.js">
    </script>
    
               
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.min.js">
    </script>
                   
                    <!-- bootstrap link 
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
       
        -->
    
    
    <script>
    var myApp = angular.module('myApp', ['ui.router']);
        myApp.config(function($locationProvider, $stateProvider) {
        $locationProvider.html5Mode(true)
        
    var profileState = {
    name: 'profile',
    url: '/profile',
    templateUrl: 'views/profile.html'
    }
    $stateProvider.state(profileState);
  
    var editEntryState = {
    name: 'editEntry',
    url: '/editEntry',
    templateUrl: 'views/editEntry.html'
    }
    $stateProvider.state(editEntryState);
            
    var entryListState = {
    name: 'entryList',
    url: '/entryList',
    templateUrl: 'views/entryList.html'
    }
    $stateProvider.state(entryListState);        
    
    var homeState = {
    name: 'home',
    url: '/home',
    templateUrl: 'views/home.html'
    }
    $stateProvider.state(homeState);            
    
    var labelsState = {
    name: 'labels',
    url: '/labels',
    templateUrl: 'views/labels.html'
    }
    $stateProvider.state(labelsState);
            
    });
    
    
    <!-- button controller -->
    myApp.controller('buttonCtrl', function ($uibModal, $log, $document) {
  var buttonCtrl = this;
  buttonCtrl.items = ['item1', 'item2', 'item3'];

  buttonCtrl.animationsEnabled = true;

  buttonCtrl.open = function (size, parentSelector) {
    var parentElem = parentSelector ? 
      angular.element($document[0].querySelector('.modal-demo ' + parentSelector)) : undefined;
    var modalInstance = $uibModal.open({
      animation: buttonCtrl.animationsEnabled,
      ariaLabelledBy: 'modal-title',
      ariaDescribedBy: 'modal-body',
      templateUrl: 'myModalContent.html',
      controller: 'ModalInstanceCtrl',
      controllerAs: 'buttonCtrl',
      size: size,
      appendTo: parentElem,
      resolve: {
        items: function () {
          return buttonCtrl.items;
        }
      }
    });

    modalInstance.result.then(function (selectedItem) {
      buttonCtrl.selected = selectedItem;
    }, function () {
      $log.info('Modal dismissed at: ' + new Date());
    });
  };

  buttonCtrl.openComponentModal = function () {
    var modalInstance = $uibModal.open({
      animation: buttonCtrl.animationsEnabled,
      component: 'modalComponent',
      resolve: {
        items: function () {
          return buttonCtrl.items;
        }
      }
    });

    modalInstance.result.then(function (selectedItem) {
      buttonCtrl.selected = selectedItem;
    }, function () {
      $log.info('modal-component dismissed at: ' + new Date());
    });
  };

  buttonCtrl.openMultipleModals = function () {
    $uibModal.open({
      animation: buttonCtrl.animationsEnabled,
      ariaLabelledBy: 'modal-title-bottom',
      ariaDescribedBy: 'modal-body-bottom',
      templateUrl: 'stackedModal.html',
      size: 'sm',
      controller: function($scope) {
        $scope.name = 'bottom';  
      }
    });

    $uibModal.open({
      animation: buttonCtrl.animationsEnabled,
      ariaLabelledBy: 'modal-title-top',
      ariaDescribedBy: 'modal-body-top',
      templateUrl: 'stackedModal.html',
      size: 'sm',
      controller: function($scope) {
        $scope.name = 'top';  
      }
    });
  };

  buttonCtrl.toggleAnimation = function () {
    buttonCtrl.animationsEnabled = !buttonCtrl.animationsEnabled;
  };
});
    </script>
    
    
</body>
</html>
