<!DOCTYPE html>

<html lang="en-us" ng-app="myApp" class="full-height">

<head>
    <title>Hello World</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/Tom-s-Journal/">
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />

    <link rel="stylesheet" 
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   
    
   <link rel="stylesheet" href="JournalCSS.css">
        
    
</head>


<body class="full-height">
    <div class='journal-header'>
        <div class='logo'>
            <div class='logo-title'>Journal</div>
            <div class='logo-subtitle'>Be the gatekeeper of your thoughts.</div>
        </div>
    </div>
    
    
    <ui-view></ui-view>
    
    <div class="container full-height">
    <div class="row full-height">
        <div id="col1" class="col-md-3 full-height">col1</div>
        <div id="col2" class="col-md-3 full-height">col2</div>
        <div id="col3" class="col-md-3 full-height">col3</div>
        <div id="col4" class="col-md-3 full-height">col4</div>
    </div>
    </div>

    <ul>
        <li><a ui-sref="profile">Profile</a></li>
        <li><a ui-sref="editEntry">Edit Entry</a></li>
        <li><a ui-sref="entryList">Entry List</a></li>
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="labels">Labels</a></li>
    </ul>   
        
        
    <div>Enter your email: <input ng-model="email" required="string">
    <span>{{email}}</span>
    </div>
    <br>
    <div>Enter your name: 
    <input ng-model="name">
    <span>{{name}}</span>
    </div>
    
    
    

                
                
    <!-- modal enabled from button -->
    <div ng-controller="buttonCtrl" class="modalPopUp" backdrop="false">
        <button ng-click="openModal()">Open modal without backdrop</button>
    </div>
        
    
    
    <div ng-controller="buttonCtrl" class="modalPopUp" backdrop="true">
        <button ng-click="openModal()">Open modal with backdrop</button>
    </div>
    
    <toms-element-greeting prefix="hey">  </toms-element-greeting>
    
    
    
   
    
                <!-- angular link -->
    <script 
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
    </script>

                <!-- ui router link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.js">
    </script>
    
               
    <script
        src="ui-bootstrap-tpls-2.5.0.min.js">
    </script>
    
<!--    <script src="TomsFrameWork.js">
    </script>-->
                   
                    <!-- bootstrap link 
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
       
        -->
    
    
    <script src="app.js"></script>
    <script src="javaScriptPractice.js"></script>
    
    
    <footer style="text-align:center">
        Copyright © 2016 by Kogo Software, LLC. All Rights Reserved.
    </footer>
</body>
</html>
