html, body {
    width: 100%;
}

body {
    display: flex;
    flex: 1;
}

.flexBox {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.inside {
	display: flex;
	flex-direction: column;
}

.murica {
	display: flex;
	flex-direction: row;
	flex: 1;
}